<div class="back">
  <div class="head">
      <h2>Hello {{name}}</h2>
      <button mat-raised-button color="primary" class="btn" [routerLink]="['/project']" > <mat-icon>add_circle</mat-icon>  Add Projects</button>
      <button mat-raised-button color="primary" class="btn" (click)="openBottomSheet()"><mat-icon>add_circle</mat-icon>  Add Tasks</button>
      <button mat-raised-button color="primary" class="btn" [routerLink]="['/events']" ><mat-icon>add_circle</mat-icon>  Create Events</button>

  </div>
<div class="card-div">


<mat-card class="card" id="left">
  <mat-card-header>
    <mat-card-title>Projects</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <!-- <mat-list>
      <mat-list-item *ngFor="let item of projects">
        <h3 matLine> {{item.project_name}} </h3>
        <p matLine>
          <span> {{message.subject}} </span>
          <span class="demo-2"> -- {{message.content}} </span>
        </p>
      </mat-list-item>
    </mat-list> --><h4 mat-line>Created</h4>
    <ng-container *ngIf="createdProjects.length == 0; else elseTemplat">
<p mat-line>You don't have any projects created by you</p> </ng-container>
  <ng-template #elseTemplat>
      <cdk-virtual-scroll-viewport itemSize="5" class="viewport">
      <mat-nav-list  *cdkVirtualFor="let item of createdProjects">
              <a mat-list-item (click)="detail(item.project_name)" role="listitem"><mat-icon>folder</mat-icon>&nbsp; {{item.project_name}}</a>
          </mat-nav-list>
          </cdk-virtual-scroll-viewport>
  </ng-template>
  <mat-divider></mat-divider>
<h4 mat-line>Assigned To Me</h4>
<!-- <cdk-virtual-scroll-viewport itemSize="5" class="viewport">
  <mat-nav-list  *cdkVirtualFor="let item of assignProjects">
        <a mat-list-item routerLink="." role="listitem"><mat-icon>folder</mat-icon>&nbsp; {{item.project_name}}</a>
    </mat-nav-list>
  </cdk-virtual-scroll-viewport> -->
  <ng-container *ngIf="assignProjects.length == 0; else elseTemplate">
      <p mat-line>You don't have any assigned projects</p> </ng-container>
        <ng-template #elseTemplate>
            <cdk-virtual-scroll-viewport itemSize="5" class="viewport">
  <mat-nav-list  *cdkVirtualFor="let item of assignProjects">
        <a mat-list-item (click)="detailA(item.project_name)" role="listitem"><mat-icon>folder</mat-icon>&nbsp; {{item.project_name}}</a>
    </mat-nav-list>
  </cdk-virtual-scroll-viewport>
        </ng-template>


      <!-- <mat-list role="list" *ngFor="let item of projects">
        <a mat-flat-button routerLink="." role="listitem">{{item.project_name}}</a>
        <mat-divider></mat-divider>
      </mat-list> -->

  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
<mat-card class="card" id="left">
  <mat-card-header>
    <mat-card-title>Tasks</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <!-- <mat-nav-list>
        <a mat-list-item href="" *ngFor="let link of allTasks">
            <mat-icon>list_alt</mat-icon>&nbsp; {{ link[0].task_name }}
          </a>

    </mat-nav-list> -->



    <cdk-virtual-scroll-viewport itemSize="10" class="viewport1">
      <mat-nav-list  *ngFor="let item of allTasks">
        <a mat-list-item (click)="detailT(item.task_name)" role="listitem">
          <mat-icon>list_alt</mat-icon>&nbsp; {{item.task_name}}</a>
    </mat-nav-list>
      <!--
    <mat-nav-list>
        <a mat-list-item (click)="detailT(item.task_name)"  *ngFor="let link of allTasks">
            <mat-icon>list_alt</mat-icon>&nbsp; {{ link.task_name }}
          </a>

    </mat-nav-list> -->
      </cdk-virtual-scroll-viewport>

  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
<mat-card class="card" id="left">
  <mat-card-header>
    <mat-card-title>My Tasks</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
</div>
</div>
