<div class="image">
    <div class="login_box">
    <h1>Your team needs a better way to stay organized.</h1>
    <div class="sign_up">
            <mat-form-field appearance="outline" class="email">
            <mat-label>Email</mat-label>
                <input matInput placeholder="Email">
            </mat-form-field>
            <button mat-raised-button color="primary" class="b" [routerLink]="['/register']" >Sign Up</button>
    </div>
    </div>
    <div class="color-overlay"></div>
</div>
