<div class="back">
<div class="head">Set up your Account</div>
     <mat-card class="card">
        <mat-form-field appearance="outline" class="input">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter your email" [formControl]="email" required [(ngModel)]="email1" >
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>

                <mat-form-field appearance="outline" class="input">
                    <mat-label>Username</mat-label>
                  <input matInput placeholder="Username" value="" [(ngModel)]="username" name="username">
                </mat-form-field>
                <mat-form-field appearance="outline" class="input" hintLabel="Max 10 characters">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" #input maxlength="10" [(ngModel)]="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>

                  </mat-form-field>

                <!-- <mat-form-field appearance="outline" class="input">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" value="" [(ngModel)]="password" class="input" name="password">
                  </mat-form-field> -->



                  <button mat-raised-button color="primary" class="input" (click)="onRegisterSubmit()" >Create Account</button>
        </mat-card>

        </div>
